{% for student in members %}
<div class="activitycircle-friends-box">
    <div class="activitycircle-friends-delete-btn">删除好友</div>
    <div class="activitycircle-hide sid">{{student.id}}</div>
    <img class="activitycircle-friends-box-avatar" src="{{student.avatar}}"/>
    <div class="activitycircle-friends-name">{{student.realname}}</div>
    <div class="activitycircle-friends-studentnumber">
        学号：{{student.studentnumber}}
    </div>
    <div class="activitycircle-friends-motto">
        座右铭：{{student.motto}}
    </div>
</div>
{% endfor %}
